body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.536);
}

canvas {
    width: 100%;
    max-width: fit-content;
}